---
layout: base.liquid
title: Posts
description: A digital creative agency in Dallas, TX. We craft compelling online experiences to help you achieve your organization's goals.
---
<div class="posts">
	<h2>Posts</h2>
	{% for post in collections.posts %}
		{% if forloop.first == true %}
			<hr>
		{% endif %}
		{% include 'teaser.liquid', showTags:true, showType:false %}
		<hr>
	{% endfor %}
</div>