---
layout: base.liquid
title: Tag - {{ tag }}
description: Content tagged with "{{ tag }}"
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
<h1>Tagged “{{ tag }}”</h1>


{% assign taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
		{% if forloop.first == true %}
			<hr>
		{% endif %}
		{% include 'teaser.liquid', showTags:false, showType:true %}
		<hr>
{% endfor %}