<header class="nav">
	<nav>
		<div class="nav-header layout-wrapper">
			<button class="nav-toggle" title="Toggle the Menu">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		<div class="nav-list">
			<ul class="layout-wrapper">
				<li>
					<a href="/home">
						Home
					</a>
				</li>
				<li>
					<a href="/home#about-us">
						About
					</a>
				</li>
				<li>
					<a href="/home#projects">
						Projects
					</a>
				</li>
				<li>
					<a href="/contact">
						Contact
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>