
<ul class="tag-list">
	<li class="tag-icon">
		{% icon 'price-tag-3-fill.svg' %}
	</li>
	{% for tag in tagList %}
		{% if tag != 'posts' and tag != 'projects' %}
			<li>
				<a href="/tags/{{ tag | url_encode | replace: '+', '%20'  }}">
					{{ tag }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
